extends layout

block content

	.container

		.row: .col-lg-6.col-lg-offset-3.box
			h2 Add user
			+flash

			form(id="signup", method="POST", action="/adduser", class="form form-horizontal")
				.form-group
					label.control-label.col-sm-2(for="email") Email	
					.col-sm-10
						input(type="text", placeholder="email", name="email", class="form-control")
				.form-group
					label.control-label.col-sm-2(for="password") Password	
					.col-sm-10
						input(type="password", placeholder="password", name="password", class="form-control")
				.form-group
					.col-sm-10.col-sm-offset-2
						input(type="submit", value="Sign up", class="btn btn-default")