doctype html
html
	head
		include includes/flash
		link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/styles.css")
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				ul.nav.navbar-nav
					li: a(href="/") Home
					li: a(href="/signup") Sign up
				ul.nav.navbar-nav.pull-right
					if isAuthenticated
						li: a(href="/logout") Logout
					else
						li: a(href="/login") Login
		block content